<form action="/recebe-formulario" method="POST">
    <p>Título: </p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <p><textarea name="conteudo"></textarea></p>
    <p><button type="submit">Cadastrar postagem</button></p>
</form>